*{/* Selector universal */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
  }
  
  body{ /* Fuente*/
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
    background-color: #E0E0E0;/* fondo de la pagina*/
  }
  
  p{
    font-family: Arial, Helvetica, sans-serif;
  }

  .font{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Ajusta el peso según lo que necesites */
    font-style: normal;
}

.titulo-accesorios {
    color: #ffffff; /* Puedes cambiar el color al que desees */
}
  .container{
    max-width: 90%;
    margin: 0 auto;
  }  
  
  .menu{
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s;
  }

  header .abajo {
    background-color: #1B1725; /*color menu*/
    padding: 10px 70px;
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); /* iluminacion menu*/
  } 

  .menu .navbar ul li{
    position: relative;
    float: left;
  }
  
  .menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 253, 252);/* rgb de color*/
    display: block;
  }
  
  .menu .navbar ul li a:hover{
  color: #D0BCD5;
  }

  .header{
    background-image: linear-gradient(
      rgba(149, 136, 136, 0.7),/*aclarar imagen*/
      rgba(75, 72, 72, 0.7)),
      url(Imagenes/bg.jpg);    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: Flex;
    align-items: center;  
  }

.header-content h1{
    font-size: 95px;
    line-height: 80px;
    color: #fefcfb;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.header-content p {
    font-size: 20px;    
    color: #ffffff;
    margin-bottom: 70px;
}

/*------Aretes------*/
.aretes-content{
    padding-top: 110px;
    min-height: 150vh;
    background-color: #E0E0E0;
}

.aretes-txt h2 {
    color: #1B1725;
    font-size: 80px;
    text-align: center;
}

.aretes-txt p{
    font-size: 20px;
}

.aretes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajustado a 1fr para mejor flexibilidad */
    grid-auto-rows: minmax(300px, auto); /* Asegura un mínimo de 300px por fila */
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center; /* Centra las columnas dentro del contenedor */
}

.card {
    position: relative;
    width: 100%; /* Usa el 100% del espacio disponible dentro de cada celda */
    height: 350px;
    }

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
}
    
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #5a575e;
}
      
.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(97, 96, 91, 0.5);
    text-align: center;
}
    
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #A499B3; /*color fondo card*/
    padding: 15px;
    color: #534B62; /*color letra*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
    
.card .back .link {
    border-top: solid 1px #D0BCD5; /*color linea*/
    height: 50px;
    line-height: 50px;
}
    
.card .back .link a {
    color: #534B62; /*color link*/
    text-decoration: none;
    font-size: 20px;
}
    
.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
      
.card .back p {
    letter-spacing: 1px;
}
      
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
      
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
    
/*-------------------------Cadenas------------------------------*/
.cadenas-content{
    padding-top: 110px;
    min-height: 150vh;
    background-color: #534B62;
}

.cadenas-txt h2 {
    color: #efd4d4;
    font-size: 80px;
    text-align: center;
}

.cadenas-txt p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.cadenas{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajustado a 1fr para mejor flexibilidad */
    grid-auto-rows: minmax(300px, auto); /* Asegura un mínimo de 300px por fila */
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center; /* Centra las columnas dentro del contenedor */
}

.card1 {
    position: relative;
    width: 100%; /* Usa el 100% del espacio disponible dentro de cada celda */
    height: 350px;
    }

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
}
    
.card1 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #747475;
}
      
.card1 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.card1 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(97, 96, 91, 0.5);
    text-align: center;
}
    
.card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background: #D0BCD5; /*color fondo card*/
    padding: 15px;
    color: #534B62; /*color letra*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
    
.card1 .back .link {
    border-top: solid 1px #fffeff; /*color linea*/
    height: 50px;
    line-height: 50px;
}
    
.card1 .back .link a {
    color: #534B62; /*color link*/
    text-decoration: none;
    font-size: 20px;
}
    
.card1 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
      
.card1 .back p {
    letter-spacing: 1px;
}
      
.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
      
.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*-------------------Pulseras--------------------*/
.pulseras-content{
    padding-top: 110px;
    min-height: 150vh;
    background-color: #534B62;
}

.pulseras-txt h2 {
    color: #efd4d4;
    font-size: 80px;
    text-align: center;
}

.pulseras-txt p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.pulseras{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajustado a 1fr para mejor flexibilidad */
    grid-auto-rows: minmax(300px, auto); /* Asegura un mínimo de 300px por fila */
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center; /* Centra las columnas dentro del contenedor */
}

.card2 {
    position: relative;
    width: 100%; /* Usa el 100% del espacio disponible dentro de cada celda */
    height: 350px;
    }

.card2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
}
    
.card2 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #747475;
}
      
.card2 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.card2 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(97, 96, 91, 0.5);
    text-align: center;
}
    
.card2 .back {
    transform: perspective(600px) rotateY(180deg);
    background: #D0BCD5; /*color fondo card*/
    padding: 15px;
    color: #534B62; /*color letra*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
    
.card2 .back .link {
    border-top: solid 1px #fffeff; /*color linea*/
    height: 50px;
    line-height: 50px;
}
    
.card2 .back .link a {
    color: #534B62; /*color link*/
    text-decoration: none;
    font-size: 20px;
}
    
.card2 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
      
.card2 .back p {
    letter-spacing: 1px;
}
      
.card2:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
      
.card2:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*--------------------Juegos----------------------*/
.juegos-content{
    padding-top: 110px;
    min-height: 150vh;
    background-color: #534B62;
}

.juegos-txt h2 {
    color: #efd4d4;
    font-size: 80px;
    text-align: center;
}

.juegos-txt p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.juegos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajustado a 1fr para mejor flexibilidad */
    grid-auto-rows: minmax(300px, auto); /* Asegura un mínimo de 300px por fila */
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center; /* Centra las columnas dentro del contenedor */
}

.card3 {
    position: relative;
    width: 100%; /* Usa el 100% del espacio disponible dentro de cada celda */
    height: 350px;
    }

.card3 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
}
    
.card3 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #747475;
}
      
.card3 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.card3 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(97, 96, 91, 0.5);
    text-align: center;
}
    
.card3 .back {
    transform: perspective(600px) rotateY(180deg);
    background: #D0BCD5; /*color fondo card*/
    padding: 15px;
    color: #534B62; /*color letra*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
    
.card3 .back .link {
    border-top: solid 1px #fffeff; /*color linea*/
    height: 50px;
    line-height: 50px;
}
    
.card3 .back .link a {
    color: #534B62; /*color link*/
    text-decoration: none;
    font-size: 20px;
}
    
.card3 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
      
.card3 .back p {
    letter-spacing: 1px;
}
      
.card3:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
      
.card3:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*---------------------footer--------------------*/
.footer p{
    padding-top: 110px;;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
    width: 100%;
}

.footer ul li a {
    text-decoration: none;
    color: #534B62; 
}

.footer ul li a:hover {
    color: #1B1725;
    transform: scale(1.1); 
}

